*.log
*.idea
*.iml
*.zip
*/*.iml
*/*.idea
*/target
*/.project
*/.classpath
*/.settings
*/bin
*/**/*.iml
*/**/*.idea
*/**/target
*/**/.project
*/**/.classpath
*/**/.settings
*/**/bin
/outfile
/*.iml
/*.idea
/target
/.project
/.classpath
/.settings
/bin
deploy/prod/app/
deploy/test/app/
deploy/app.zip
*.epoch
*.lck
*.mvn
*.mvn/*
*.mvnw/*
*.txt
*.mvnw